.main {
  position: relative;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
  margin-bottom: 15px;
}

.main-delete-bottom {
  border-bottom: none;
  padding: 0;
}

.change-book-menu {
  position: absolute;
  top: -50px;
  right: 15px;
  font-size: 35px;
}

.change-book-item {
  padding: 0 5px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 150px;
  margin: 2px 3px;
}
